

:root{
  --card:rgb(28 52 91/26%);
  --bodycolor:#0052d0;;
  --text-color:white
}

body{
  background-color:var(--bodycolor);
}



.App{
  display: flex;
  align-items: center;
  justify-content: center;
    height: 100vh;
   

}

.continer{
  background-color: var(--card);
  width: 500px;
  height: 350px;
  border-radius: 16px;
  padding: 10px;
}